html, body {
    overflow-x: hidden;
}

.panel-sidebar {
    width: 260px !important;
}

.panel-content {
    margin-left: 0;
}

@media (min-width: 992px) {
    .panel-content {
        margin-left: 260px;
    }
}
